.task {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.5rem 2rem;
  gap: 1rem;
}
.task__description {
  display: flex;
  flex: 60%;
  align-items: flex-start;
}

.task__footer {
  flex: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.task__button {
  width: 100%;
  color: red;
}
